
<%- include('header'); -%>

<h2>This is the about Page.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita illo nemo voluptatibus similique dolorem, ab temporibus architecto nobis consequuntur beatae culpa est officia ipsa dolores quis esse sunt eaque?</p>

<%- include('footer'); -%>
